<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预售信息查询</title>
    <script src="/static/lib/jquery.min.js"></script>
    <script src="/static/lib/bootstrap.min.js"></script>
    <script src="/static/js/frame4.js"></script>
    <script src="/static/lib/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/lib/bootstrap.min.css"/>
</head>
<body>
<!--搜索预售-->
<div id="search" class="form-inline" style="margin: 10px;">
    <div class="form-group">
        <input type="text" class="form-control" id="search_id" placeholder="ID号"
               onkeyup="this.value=this.value.replace(/\D/g,'')">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="search_isbn" placeholder="ISBN"
               onkeyup="this.value=this.value.replace(/\D/g,'')">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" id="search_name" placeholder="用户ID"
               onkeyup="this.value=this.value.replace(/\D/g,'')">
    </div>
    <button id="change_submit" type="button" class="btn btn-primary" onclick="search_submit()">查询</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">添加</button>
</div>
<!--增加预售的模态框-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">创建订单</h4>
            </div>
            <div class="modal-body">
                <div id="add">
                    <div class="form-group">
                        <input type="text" class="form-control" id="add_isbn" placeholder="ISBN"
                               onkeyup="this.value=this.value.replace(/\D/g,'')">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="add_customer" placeholder="用户ID"
                               onkeyup="this.value=this.value.replace(/\D/g,'')">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="add_number" placeholder="数目"
                               onkeyup="this.value=this.value.replace(/\D/g,'')">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="add_price1" placeholder="原价" onkeyup="clearNoNum(this)">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="add_price2" placeholder="实际" onkeyup="clearNoNum(this)">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="add_address" placeholder="地址">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="add_phone" placeholder="电话"
                               onkeyup="this.value=this.value.replace(/\D/g,'')">
                    </div>
                    <div class="form-group">
                        <label for="add_state">状态</label>
                        <select class="form-control" id="add_state" title="状态">
                            <option value="1">正在备货</option>
                            <option value="2">运送中</option>
                            <option value="3">已收货</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="add_no()" data-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-primary" onclick="add_submit()">增加
                </button>
            </div>
        </div>
    </div>
</div>
<!--修改预售的模态框-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">修改信息</h4>
            </div>
            <div class="modal-body">
                <div id="change">
                    <div class="form-group">
                        <label for="change_id">ID</label>
                        <input type="text" class="form-control" id="change_id" placeholder="id" disabled>
                    </div>
                    <div class="form-group">
                        <label for="change_name">ISBN</label>
                        <input type="text" class="form-control" id="change_isbn" placeholder="书籍ISBN"
                               onkeyup="this.value=this.value.replace(/\D/g,'')">
                    </div>
                    <div class="form-group">
                        <label for="change_customer">用户ID</label>
                        <input type="text" class="form-control" id="change_customer" placeholder="用户ID"
                               onkeyup="this.value=this.value.replace(/\D/g,'')">
                    </div>
                    <div class="form-group">
                        <label for="change_number">数目</label>
                        <input type="text" class="form-control" id="change_number" placeholder="数目"
                               onkeyup="this.value=this.value.replace(/\D/g,'')">
                    </div>
                    <div class="form-group">
                        <label for="change_price1">原价</label>
                        <input type="text" class="form-control" id="change_price1" placeholder="原价" onkeyup="clearNoNum(this)">
                    </div>
                    <div class="form-group">
                        <label for="change_price2">实际</label>
                        <input type="text" class="form-control" id="change_price2" placeholder="实际" onkeyup="clearNoNum(this)">
                    </div>
                    <div class="form-group">
                        <label for="change_address">地址</label>
                        <input type="text" class="form-control" id="change_address" placeholder="地址">
                    </div>
                    <div class="form-group">
                        <label for="change_phone">电话</label>
                        <input type="text" class="form-control" id="change_phone" placeholder="电话"
                               onkeyup="this.value=this.value.replace(/\D/g,'')">
                    </div>
                    <div class="form-group">
                        <label for="change_state">状态</label>
                        <select class="form-control" id="change_state">
                            <option value="1">正在备货</option>
                            <option value="2">运送中</option>
                            <option value="3">已收货</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="change_submit()">确定</button>
            </div>
        </div>
    </div>
</div>
<!--展示预售-->
<h2 class="sub-header">PreSell List</h2>
<table class="table table-hover table-bordered">
    <tr>
        <td style="width: 10%">ID</td>
        <td style="width: 10%">ISBN</td>
        <td style="width: 10%">用户ID</td>
        <td style="width: 10%">数目</td>
        <td style="width: 10%">原价</td>
        <td style="width: 10%">实际</td>
        <td style="width: 10%">地址</td>
        <td style="width: 10%">电话</td>
        <td style="width: 10%">状态</td>
        <td style="width: 10%">操作</td>
    </tr>
    {% for pre_sell in pre_sell_list %}
        <tr>
            <td>{{ pre_sell.id_field }}</td>
            <td>{{ pre_sell.isbn }}</td>
            <td>{{ pre_sell.customer }}</td>
            <td>{{ pre_sell.number_field }}</td>
            <td>{{ pre_sell.price1 }}</td>
            <td>{{ pre_sell.price2 }}</td>
            <td>{{ pre_sell.address }}</td>
            <td>{{ pre_sell.phone }}</td>
            {% if pre_sell.state == 1 %}
                <td>待发货</td>
            {% elif pre_sell.state == 2 %}
                <td>已发货</td>
            {% else %}
                <td>确认收货</td>
            {% endif %}
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal2"
                        onclick="change_pre_sell('{{ pre_sell.id_field }}','{{ pre_sell.isbn }}','{{ pre_sell.customer }}','{{ pre_sell.number_field }}','{{ pre_sell.price1 }}','{{ pre_sell.price2 }}','{{ pre_sell.address }}','{{ pre_sell.phone }}','{{ pre_sell.state }}')">
                    修改
                </button>
                <button class="btn btn-danger" onclick="del_pre_sell('{{ pre_sell.id_field }}')">
                    删除
                </button>
            </td>
        </tr>
    {% endfor %}
</table>
<script>
    function clearNoNum(obj) {
        obj.value = obj.value.replace(/[^\d.]/g, ""); //清除“数字”和“.”以外的字符
        obj.value = obj.value.replace(/\.{2,}/g, "."); //只保留第一个. 清除多余的
        obj.value = obj.value.replace(".", "$#$").replace(/\./g, "").replace("$#$", ".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/, '$1$2.$3');//只能输入两个小数
        if (obj.value.indexOf(".") < 0 && obj.value != "") {//以上已经过滤，此处控制的是如果没有小数点，首位不能为类似于 01、02的金额
            obj.value = parseFloat(obj.value);
        }
    }
</script>
</body>
</html>